*{
  margin: 0;
}

body{
  background-image: url("../img/bg1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

/*header*/

header{
  grid-column: 1/13;
  width: 100%;
  height: 76px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
}
.logo{
  grid-column: 3/6;
  width: 187px;
  height: 65px;
}
/*Mobile version*/

.menu-icon{
  display: none;
}
.sub-menu{
  display: none;
}
/*Desktop version*/

header ul{
  grid-column: 7/11;
  display: flex;
  justify-content: space-between;
}
header ul li{
  list-style: none;
}
header ul li a{
  text-decoration: none;
  font-family: "Nexa Bold", serif;
  font-weight: 700;
  font-size: 30px;
  color: #ffffff;
}
header ul li :hover{
  filter: drop-shadow(9px 16px 13px rgba(0, 0, 0, 0.6));
}
      /*Main*/

main{
  width: 100%;
  height: 100%;
  grid-column: 1/13;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 80px auto auto 40px;
  row-gap: 40px;
  align-items: end;
}

    /*<!--Type of socks button-->*/

.stripes-button{
  grid-column: 3/5;
  grid-row: 2/3;
  border: none;
  text-decoration: none;
  background: rgba(255, 255, 255, 0);
  border-radius: 15px;
}
.uni-button{
  grid-column: 3/5;
  grid-row: 3/4;
  border: none;
  text-decoration: none;
  background: rgba(255, 255, 255, 0);
  border-radius: 15px;
}

  /*<!--  The invisible containers -->*/


  /*blue*/

.invisible-container-blue{
display: none;
width: 500px;
height: 540px;
grid-column: 7/11;
grid-row: 2/4;
align-self: center;
background: rgba(30, 64, 122, 0.5);
backdrop-filter: blur(6px);
border-radius: 15px;
flex-direction: column;
align-items: center;
}

#leg-img-blue{
  width: 400px;
  height: 250px;
  border-radius: 20px;
  margin-top: 30px;
  grid-row: 2/3;
}
.inside-container-blue{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#socks-img-blue{
  width: 100px;
  height: 200px;
  margin-top: 30px;
}
.back-button-blue{
  width: 100px;
  height: 100px;
  background: rgba(30, 64, 122, 0);
  opacity: 0;
}
.back-button-blue img{
  width: 100px;
  height: 100px;
  display: none;
}
.forward-button-blue{
  width: 100px;
  height: 100px;
  border: none;
  background: rgba(30, 64, 122, 0);
}
.forward-button-blue img{
  width: 100px;
  height: 100px;
}

  /*pink*/

.invisible-container-pink{
  width: 500px;
  height: 540px;
  grid-column: 7/11;
  grid-row: 2/4;
  align-self: center;
  background: rgba(233, 144, 185, 0.5);
  backdrop-filter: blur(6px);
  border-radius: 15px;
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: 0;
}

#leg-img-pink{
  width: 400px;
  height: 250px;
  border-radius: 20px;
  margin-top: 30px;
  grid-row: 2/3;
}
.inside-container-pink{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#socks-img-pink{
  width: 100px;
  height: 200px;
  margin-top: 30px;
  grid-row: 3/4;
}
.back-button-pink{
  width: 100px;
  height: 100px;
  background: rgba(30, 64, 122, 0);
  border: none;
}
.back-button-pink img{
  width: 100px;
  height: 100px;
}
.forward-button-pink{
  width: 100px;
  height: 100px;
  grid-row: 3/4;
  border: none;
  background: rgba(30, 64, 122, 0);
}
.forward-button-pink img{
  width: 100px;
  height: 100px;
  grid-row: 3/4;
}

  /*Yellow*/


  .invisible-container-yellow{
    width: 500px;
    height: 540px;
    grid-column: 7/11;
    grid-row: 2/4;
    align-self: center;
    background: rgba(254, 205, 62, 0.5);
    backdrop-filter: blur(6px);
    border-radius: 15px;
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 0;
  }

  #leg-img-yellow{
    width: 400px;
    height: 250px;
    border-radius: 20px;
    margin-top: 30px;
    grid-row: 2/3;
  }
  .inside-container-yellow{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  #socks-img-yellow{
    width: 100px;
    height: 200px;
    margin-top: 30px;
    grid-row: 3/4;
  }
  .back-button-yellow{
    width: 100px;
    height: 100px;
    background: rgba(30, 64, 122, 0);
    border: none;
  }
  .back-button-yellow img{
    width: 100px;
    height: 100px;
  }
  .forward-button-yellow{
    width: 100px;
    height: 100px;
    grid-row: 3/4;
    border: none;
    background: rgba(30, 64, 122, 0);
  }
  .forward-button-yellow img{
    width: 100px;
    height: 100px;
    grid-row: 3/4;
  }

  /*Green*/

.invisible-container-green{
  width: 500px;
  height: 540px;
  grid-column: 7/11;
  grid-row: 2/4;
  align-self: center;
  background: rgba(81, 178, 162, 0.5);
  backdrop-filter: blur(6px);
  border-radius: 15px;
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: 0;
}

#leg-img-green{
  width: 400px;
  height: 250px;
  border-radius: 20px;
  margin-top: 30px;
  grid-row: 2/3;
}
.inside-container-green{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#socks-img-green{
  width: 100px;
  height: 200px;
  margin-top: 30px;
  grid-row: 3/4;
}
.back-button-green{
  width: 100px;
  height: 100px;
  background: rgba(30, 64, 122, 0);
  border: none;
}
.back-button-green img{
  width: 100px;
  height: 100px;
}
.forward-button-green{
  width: 100px;
  height: 100px;
  grid-row: 3/4;
  border: none;
  background: rgba(30, 64, 122, 0);
}
.forward-button-green img{
  width: 100px;
  height: 100px;
  grid-row: 3/4;
}

/*Red*/

.invisible-container-red{
  width: 500px;
  height: 540px;
  grid-column: 7/11;
  grid-row: 2/4;
  align-self: center;
  background: rgba(241, 91, 57, 0.5);
  backdrop-filter: blur(6px);
  border-radius: 15px;
  display: none;
  flex-direction: column;
  align-items: center;
  z-index: 0;
}

#leg-img-red{
  width: 400px;
  height: 250px;
  border-radius: 20px;
  margin-top: 30px;
  grid-row: 2/3;
}
.inside-container-red{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
#socks-img-red{
  width: 100px;
  height: 200px;
  margin-top: 30px;
  grid-row: 3/4;
}
.back-button-red{
  width: 100px;
  height: 100px;
  background: rgba(30, 64, 122, 0);
  border: none;
}
.back-button-red img{
  width: 100px;
  height: 100px;
}
.forward-button-red{
  width: 100px;
  height: 100px;
  grid-row: 3/4;
  border: none;
  background: rgba(30, 64, 122, 0);
  opacity: 0;
}
.forward-button-red img{
  width: 100px;
  height: 100px;
  grid-row: 3/4;
  display: none;
}

/*MObile version*/

.mobile-stripes{
  display: none;
}
.mobile-uni{
  display: none;
}

/*Button*/

.order-button{
  grid-column: 7/11;
  grid-row: 4/5;
  width: 100%;
  height: 80px;
}
.order-button button{
  width: 100%;
  height: 80px;
  background: rgba(241, 91, 57, 0.8);
  border: none;
  color: #ffffff;
  font-family: "Nexa Bold", serif;
  font-size: 35px;
  border-radius: 15px;
  backdrop-filter: blur(6px);
}
.order-button :hover{
  background-color: #44160B;
}


/*footer*/

footer{
  display: none;
  grid-column: 1/13;
  width: 80%;
  justify-self: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(6px);
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 60px);
  align-items: center;
}
footer h2{
  grid-column: 2/5;
  grid-row: 1/2;
  font-family: 'Nexa Bold', serif;
  font-size: 25px;
  color: #FFFFFF;

}
footer ul{
  grid-column: 1/6;
  grid-row: 2/3;
}
footer ul li{
  list-style: none;
  color: #ffffff;
  font-family: 'Nexa Light', serif;
  font-size: 20px;
  margin-left: 55px;
}
footer img{
  grid-column: 2;
  grid-row: 3/4;
  margin-bottom: 20px;
}
footer h4{
  grid-column: 8/12;
  grid-row: 1/2;
  font-family: 'Nexa Bold', serif;
  font-size: 25px;
  margin-left: 30px;
  color: #ffffff;
}
footer form{
  margin-bottom: 20px;
  display: flex;
  grid-column: 8/12;
  grid-row: 3/4;
  font-family: 'Nexa Light', serif;
  font-size: 13px;
  color: #ffffff;
  justify-content: right;
}
.email-input{
  font-size: 15px;
  color: #ffffff;
  background: #454657;
  border-radius: 8px;
  width: 275px;
  height: 35px;
  border: none;
}
.submit-input{
  border: none;
  background: #454657;
  border-radius: 8px;
  width: 75px;
  height: 35px;
  color: #ffffff;
}
footer h3{
  font-family: 'Nexa Light', serif;
  font-size: 15px;
  color: #ffffff;
  grid-column: 8/11;
  grid-row: 2/4;
  justify-self: stretch;
  margin-bottom: 15px;
  margin-left: 30px;
}

/*Mobile version*/

@media screen and (max-width: 576px) {
  body{
    grid-template-columns: repeat(12, 1fr);
    background-image: url("../img/bg2mobile.svg");
    background-size: 100%
  }
  header{
    grid-column: 1/13;
    width: 100%;
    height: 100px;
  }
  .logo{
    grid-column: 2/4;
    width: 140px;
    height: 49px;
  }
  header ul{
    display: none;
  }

  /*Menu*/

  .menu-icon{
    display: block;
    width: 40px;
    height: 40px;
    grid-column: 11/13;
    justify-self: center;
    list-style: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
  }
  .menu-icon img{
    width: 40px;
    height: 40px;
    grid-column: 11/13;
    justify-self: center;
  }
  .sub-menu{
    display: none;
  }
  .sub-menu button{
    width: 100%;
    height: 60px;
    background: rgba(217, 217, 217, 0.3);
    border: 1px solid #FFFFFF;
    backdrop-filter: blur(6px);
  }
  .sub-menu button a{
    color: #ffffff;
    text-decoration: none;
    font-family: "Nexa Bold", serif;
    font-size: large;
  }
  .menu-icon:focus + .sub-menu,.sub-menu:hover {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    position: absolute;
    z-index: 2;
    grid-column: 7/13;
    width: 100%;
    top: 0;
    height: 327px;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(6px);
    border-radius: 10px 0 0 10px;
  }

  /*Menu ends here*/

  .float-container{
    display: none;
  }
  .uni-button{
    display: none;
  }
  .uni-button img{
    display: none;
  }
  .stripes-button{
  display: none;
  }
  .stripes-button img{
  display: none;
  }
  /*Animations for mobile version*/

  /*Animations end here*/

  /*Main container*/

  .img-container{
    grid-column: 1/13;
  }
  main{

  }
  .mobile-stripes{
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 2/3;
    grid-column: 1/6;
  }
  .mobile-stripes img{
    width: 100px;
    height: auto;
  }
  .mobile-uni{
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: 3/4;
    grid-column: 1/6;
    margin-bottom: 30px;
  }
  .mobile-uni img{
    width: 100px;
    height: auto;
  }
  .mobile-contact{
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    width: 100%;
    height: 440px;
    grid-row: 2/4;
    grid-column: 7/13;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -1;
    margin-bottom: 30px;
  }
  .mobile-contact h3{
    font-family: "Nexa Light", serif;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 20px;
  }
  .mobile-contact h2{
    font-family: "Nexa Bold", serif;
    font-size: 20px;
    color: #FECD3E;
    margin-bottom: 20px;
  }

  /*Button*/
  .order-button {
    grid-column: 3/11;
  }
  /*Footer*/

  footer{
    display:grid;
    width: 100%;
    margin-top: 30px;
  }
  footer h4{
    font-size: 15px;
    margin-left: 35px;
    grid-column: 6/13;
    grid-row: 2/3;
  }
  footer form{
    display: none;
  }
  footer h3{
    display: none;
  }
  footer h2{
    font-size: 15px;
  }
  footer ul li{
    font-size: 15px;
    margin-left: 0;
    margin-bottom: 5px;
  }
}
